<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>模板</title>
    <link rel="stylesheet/less" href="../asset/less/util.less">
    <script src="../asset/js/less.js"></script>
    <link href="../asset/bootstrap/css/bootstrap.css" rel="stylesheet">

</head>

<body>
    <!-- 头部部分1 -->
    <div id="hearder1">
        <div class="logo ">
            <a href="#">
                <img src="../asset/image/logo.png" alt="">
            </a>
        </div>
        <div class="appdown">
            <a href="#">
                <img src="../asset/image/download.png" alt="">
            </a>
        </div>
    </div>
    <!-- 头部部分1搜索框 -->
    <div id="search1">
        <form action="" method="">
            <input type="text" placeholder="请输入你想比价的商品">
        </form>
        <div class="searchbtn">
            <input type="submit" value="搜索">
        </div>
    </div>
    <!-- 分割线 -->
    <div id="line"></div>








    <!-- 头部部分2 -->
    <div id="header2">
        <div class="logo">
            <h1>
                <a href="https://m.manmanbuy.com/">
                    <img src="../asset/image/logo2.png">
                </a>
            </h1>
        </div>
        <div class="searchbox">
            <form action="#" method="get">
                <i class="glyphicon glyphicon-search"></i>
                <input type="search" name="key" placeholder="搜索商品比价" autocomplete="false">
            </form>
        </div>
        <div class="download">
            <a target="_blank" href="#">下载</a>
        </div>
    </div>
    <!-- 分割线 -->
    <div id="line"></div>






    <!-- 广告部分 -->
    <div id="advertisement">
        <a class="closefix" href="javascript:;"></a>
        <div class="icon"></div>
        <p class="titlefix">实时更新品牌榜</p>
        <p class="describe">全网比价不吃亏</p>
        <a class="download-btn" href="#" onclick="trackEvent('底部悬浮下载');">立即打开</a>
    </div>
    <!-- 分割线 -->
    <div class="line"></div>








    <!-- 底部部分 -->
    <div id="footer">
        <div class="foot_top">
            <a href="#">登录</a>
            <a href="#">注册</a>
            <a href="#" style="width: 40%; border: 0;">
                <img src="../asset/image/top.jpg" width="15" height="15">返回顶部</a>
        </div>
        <div class="foot_bottom">
            <p>
                <a href="#" style="color: Red;">手机APP下载</a>
                <a href="#">慢慢买手机版</a>
                -- 掌上比价平台
            </p>
            <p>m.manmanbuy.com </p>
        </div>
    </div>
    <div style="height: 1000px; width: 100%;"></div>

</body>

</html>